/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: yellow;
}

.nav-left a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-weight: bold;
    border: #222;
}

.nav-left a:hover {
    color: #00adb5;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



p{
    text-align: justify;
    margin-right: 70px;
    margin-left: 70px;
}



/* PORTFOLIO */
.portfolio {
    padding: 40px 20px;
    text-align: center;
    background-color: #f0f0f0;
}

.portfolio h2 {
    margin-right: 200px;
    margin-bottom: 75px;
}

.portfolio-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
}

.card {
    width: 400px;
    height: 200px;
    background-color: white;
    /* border: 1px solid black;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card p {
    margin-top: 30px;
    

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* HEADER */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffffff;
}

/* HEADER */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffffff;
}



.hero h2 {
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 4px solid #00adb5; 
    width: 0;
    margin: 0 auto; 
    
    animation: 
        ngetik 4s steps(47, end) forwards,
        kedip 0.75s step-end infinite;
}

@keyframes ngetik {
    from { width: 0 }
    to { width: 42% }
}

@keyframes kedip {
    from, to { border-color: transparent }
    50% { border-color: #00adb5; }
}



/* HEADQUARTER */
.lokasikami {
    background-color: #eaeaea;
    padding: 40px 20px;
    text-align: center;
}

.lokasikami h2{
    
    margin-right: 185px;
}
.lokasikami-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    
}

.hq-item {
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
}

.circle img{
    margin-top: px;
    width: 50px;
    height: 150px;
}

/* MESSAGE */
.message {
    background-color: white;
    padding: 40px 20px;
}

h2 {
    margin-left: 205px;

}

.message-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 900px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 45%;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

.output-box {
    width: 45%;
    border: 1px solid black;
    padding: 15px;
    background-color: #fafafa;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: yellow;
}